#panorama { width: 800px; height: 600px; }
<<<<<<< HEAD

.swiper { width: 200px; height: 200px; }
.swiper {
	--swiper-navigation-size: 16px;
	--swiper-navigation-top-offset: 50%;
	--swiper-navigation-sides-offset: 10px;
	--swiper-navigation-color: var(--swiper-theme-color);
}
=======
.swiper { width: 200px; height: 200px; }
>>>>>>> 9d9fbbff05eb9db56eeefb707a689677a324aa4d
