.app-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
}

.app-icons > .app-link {
	display: flex;
	height: 128px;
	max-width: 128px;
	flex:1;
	padding: 16px;
}

.app-link > div {
	flex-direction: column;
	display: inherit;
	width: 100%;
}

.app-link > div > a { align-self: center; }
.app-link > div > div { align-self: center; }